body{

background:#020617;

color:white;

font-family:Arial;

margin:0;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

text-align:center;

width:90%;

max-width:500px;

}

.card{

background:#1e293b;

padding:30px;

border-radius:12px;

margin-bottom:30px;

}

#streak{

font-size:60px;

color:#38bdf8;

margin:0;

}

#heatmap{

display:grid;

grid-template-columns:repeat(7,35px);

gap:8px;

justify-content:center;

margin-top:20px;

}

.day{

width:35px;

height:35px;

background:#1e293b;

border-radius:5px;

}

.active{

background:#22c55e;

}

#message{

margin-top:20px;

color:#cbd5f5;

}
