body{

background:#020617;

color:white;

font-family:Arial;

display:flex;

justify-content:center;

}

.container{

text-align:center;

width:90%;

max-width:500px;

margin-top:40px;

}

.streakCard{

background:#1e293b;

padding:30px;

border-radius:12px;

margin-bottom:20px;

}

#streak{

font-size:50px;

color:#38bdf8;

}

button{

background:#38bdf8;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

margin-bottom:30px;

}

#heatmap{

display:grid;

grid-template-columns:repeat(7,30px);

gap:6px;

justify-content:center;

}

.day{

width:30px;

height:30px;

background:#1e293b;

border-radius:5px;

}

.active{

background:#22c55e;

}
